.App {
  margin: 10px;
  background-color:aliceblue;
}
.searchDiv {
  text-align: center;
  background-color:greenyellow;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 100px;
}
.searchDiv form {
  display: flex;
  flex-direction: column;
}
.imageList {
  columns: 250px 5;
  column-gap: 10px;
}
.imageList Img {

  width: 100%;
  margin-bottom: 10px;
}
.searchDiv input{
  text-align: center;
  background-color:yellowgreen;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 100px;
}